<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>

<appSettings>
		<add key="cnfConexion" value="server=SQLSERVER;uid=intranetadmin;pwd=;database=SQLDB"/>
		<add key="cnfConexionMysql" value="server=172.17.8.16;user id=root;password=;database=registros_elearning"/>
		<add key="cnfConexionOracle" value="Data Source=XE;User ID=logistica_pedidos;Password=123;"/>
</appSettings>
</configuration>